<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to Templating Demo</h1>
    <h2>EJS Demo <%= 1+2+3 %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, libero! Accusamus quidem, beatae dolores quos aliquid fuga perferendis quibusdam officia temporibus quo hic quisquam enim, explicabo mollitia impedit sequi accusantium?</p>
</body>
</html>